sound-button {
    display: inline-block;
    width: 200px;
    height: 100px;
    box-shadow: 10px 10px 5px #ddd;
    padding: 1em;
    margin: 2em;
    border-radius: 1em;
    background: lightgrey;
    color: black;
}

sound-button button {
    color: #777;
    margin-top:-25px;
}
.checkbox{
    margin-top:-10px;
    color: #777;
}
